<!-- Meal Option, Meal Planner Option -->
 <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Main Page</title>
        <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="static/main.css">
    </head>
    <body>
        <div class="boxContainer">
            <div class="boxIndex">
                <div class="button-container">
                    <a href="/show-meals">
                        <button class="">Meals</button>
                    </a>
                </div>
                <div class="button-container">
                    <a href="/plan-meals">
                        <button class="btn btn-secondary">Plan Meals</button>
                    </a>
                </div>               
            </div>
        </div>
    </body>
</html>